.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: transparent;
  text-shadow: 0 0 0 var(--green);
  max-height: 50px;
  max-width: 50px;
}

.nav-links {
  display: flexbox;
  flex-direction: row;
  position: sticky;
  padding: 30px;
  text-decoration: none;
}

.navbar {
  margin-left: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin:0;
  padding: 0;
  background-color: rgb(203, 203, 217);
}

.delivery-image {
  width: 300px;
  height: 450px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.text-container {
 width: 275px;
 padding: 20px;
}

.restaurant-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.zipcode-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-input {
    font-size: 30px;
    width: 400px;
}

.submit {
  height: 42px;
  width: 180px;
  font-size: 25px;
}

.grubhub-logo {
  border-radius: 25px;
  background: rgb(203, 203, 217);
  padding: 20px;
  width: 200px;
  height: 150px;
  margin: 20px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/grubhubLogo.png);
  text-decoration: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 230px 150px;
  min-width: 180px;
}

.grubhub-logo p{
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
}

.grubhub-logo:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.9) inset;
}

.grubhub-logo:hover p{
  opacity: 1;
  transform: scale(1);
}

.postmates-logo {
  border-radius: 25px;
  background: rgb(203, 203, 217);
  padding: 20px;
  width: 200px;
  height: 150px;
  margin: 20px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/postmatesLogo.png);
  text-decoration: none;
  background-position: center;
  background-size: 200px 150px;
  background-repeat: no-repeat;
}

.postmates-logo p{
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
}

.postmates-logo:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.9) inset;
}

.postmates-logo:hover p{
  opacity: 1;
  transform: scale(1);
}

.doordash-logo {
  border-radius: 25px;
  background: rgb(203, 203, 217);
  padding: 20px;
  width: 200px;
  height: 150px;
  margin: 20px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/doorDashLogo.png);
  text-decoration: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.doordash-logo p{
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
}

.doordash-logo:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.9) inset;
}

.doordash-logo:hover p{
  opacity: 1;
  transform: scale(1);
}

.uber-eats-logo {
  border-radius: 25px;
  background: rgb(203, 203, 217);
  padding: 20px;
  width: 200px;
  height: 150px;
  margin: 20px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/uberEatsLogo.png);
  text-decoration: none;
  background-position: center;
  background-size: contain;;
  background-repeat: no-repeat;
  background-size: 130px 150px;
  min-width: 180px;
}

.uber-eats-logo p{
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
}

.uber-eats-logo:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.9) inset;
}

.uber-eats-logo:hover p{
  opacity: 1;
  transform: scale(1);
}

.joyrun-logo {
  border-radius: 25px;
  background: rgb(203, 203, 217);
  padding: 20px;
  width: 200px;
  height: 150px;
  margin: 20px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/joyRunLogo.png);
  text-decoration: none;
  background-position: center;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  min-width: 180px;
}

.joyrun-logo p{
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
}

.joyrun-logo:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.9) inset;
}

.joyrun-logo:hover p{
  opacity: 1;
  transform: scale(1);
}

/* stuff for ordering page */

.main-column {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
}

.side-nav-bar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: black;
  transition: width 200ms ease;
  z-index: 1;
}

.side-bar-ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.side-bar-li {
  width: 100%;
}

.side-bar-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: black;
  text-decoration: none;
}

.side-bar-text {
  /* display: none;  */
  opacity: 0%;
  margin-left: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.side-nav-bar:hover {
  width: 10rem;
}

.side-nav-bar:hover .side-bar-text {
  /* display: block;  */
  opacity: 100%;
  transition: opacity 0.3s;
}

.list-icon {
  height: 30px;
  width: 30px;
  padding-left: 1.7rem;
  filter: invert(100%);
}

.order-column {
  background-color: black;
  width: 15rem;
  height: 100vh;
  position: fixed;
  right: 0;
}

.order-page {
  display: flex;
  flex-direction: row;
}

.order-column h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 1rem;
  color: white;
}

.order-column-top p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.order-column-top {
  padding-left: 1rem;
}

.restaurant-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 60px;
  height: 5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.restaurant-header h1{
  padding: 0;
  margin: 0;
}

.delivery-picture {
  width: 4rem;
  margin-left: 3.7rem;
  margin-top: 0.8rem;
  padding-right: 1rem;
}

.cards {
  list-style: none;
}

.individual-card {
  margin: 1rem;
}

.individual-card img {
  width: 100%;
  aspect-ratio: inherent;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .individual-card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .individual-card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {}
  .individual-card {
    width: calc(20% - 2rem);
  }

.cuisine-input {
  height: 3rem;
  width: 60%;
  font-size: 1.15rem;
  margin-left: 3rem;
  text-indent: 1rem;
}

.restaurant-page {
  display: flex;
  flex-direction: row;
}

.restaurant-page-form {
  justify-content: center;
}

ul.cards {
  padding-right: 17.4rem;
}

.cuisine-form {
  justify-content: center;
  margin-left: .5rem;
  padding-top: 0.9rem;
}

.sponsored-pic {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 20rem;
  border-radius: 15px;
  object-fit: cover;
  object-position: 50% 65%;
}

.sponsored-restaurant {
  display: flex;
  margin-left: 3.4rem;
  position: relative;
  padding-top: 0.3rem;
  margin-right: 18.4rem;
  padding-bottom: 1rem;
  align-items: center;
}

.sponsor-text {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 0;
  margin-right: 1rem;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  background-color: #fed614;
  font-weight: 900;
  border-radius: 15px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}

.order-line-break {
  width: 5rem;
  color: red;
}
#about {
  display:flex;
  align-items:center;
  justify-content: center;
}
.about-cards {
  display:inline;
  padding:15px;
}
.about-card{
  padding: 75px;
}
#icons0{
  width: 50px;
  list-style-type: none;
  padding:15px;
  margin: 10px;
  display:flex;
}
#icons1{
  width: 50px;
  list-style-type: none;
  padding:15px;
  margin: 10px;
  display:flex;
}
#icons2{
  width: 50px;
  list-style-type: none;
  padding:15px;
  margin: 10px;
  display:flex;
}
.icon{
  width : 50px;

}
.about-name {
  font-size: 25px;
}
.about-bio {
  font-size: 25px;
  text-align: center;
}
.head {
  text-align: center;
  font-size: 50px;
}
.contact {
  text-align: center;
  list-style-type: none;
}