.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: transparent;
  text-shadow: 0 0 0 var(--green);
  max-height: 50px;
  max-width: 50px;
}

.nav-links {
  display: flexbox;
  flex-direction: row;
  position: sticky;
  padding: 30px;
  text-decoration: none;
}

.navbar {
  margin-left: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin:0;
  padding: 0;
  background-color: rgb(203, 203, 217);
}

.delivery-image {
  width: 300px;
  height: 450px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.text-container {
 width: 275px;
 padding: 20px;
}

.restaurant-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.zipcode-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-input {
    font-size: 30px;
    width: 400px;
}

.submit {
  height: 42px;
  width: 180px;
  font-size: 25px;
}

.grubhub-logo {
  border-radius: 25px;
  background: rgb(203, 203, 217);
  padding: 20px;
  width: 200px;
  height: 150px;
  margin-right: 40px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/grubhubLogo.png);
  text-decoration: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* asdasodihfoaishf */
  box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.37); 
}

.grubhub-logo p{
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
}

.grubhub-logo:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.9) inset;
}

.grubhub-logo:hover p{
  opacity: 1;
  transform: scale(1);
}

.postmates-logo {
  border-radius: 25px;
  background: rgb(203, 203, 217);
  padding: 20px;
  width: 200px;
  height: 150px;
  margin-right: 40px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/postmatesLogo.png);
  text-decoration: none;
  background-position: center;
  background-size: 200px 150px;
  background-repeat: no-repeat;
}

.postmates-logo p{
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
}

.postmates-logo:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.9) inset;
}

.postmates-logo:hover p{
  opacity: 1;
  transform: scale(1);
}

.doordash-logo {
  border-radius: 25px;
  background: rgb(203, 203, 217);
  padding: 20px;
  width: 200px;
  height: 150px;
  margin-right: 40px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/doorDashLogo.png);
  text-decoration: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.doordash-logo p{
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
}

.doordash-logo:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.9) inset;
}

.doordash-logo:hover p{
  opacity: 1;
  transform: scale(1);
}

.uber-eats-logo {
  border-radius: 25px;
  background: rgb(203, 203, 217);
  padding: 20px;
  width: 200px;
  height: 150px;
  margin-right: 40px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/uberEatsLogo.png);
  text-decoration: none;
  background-position: center;
  background-size: contain;;
  background-repeat: no-repeat;
}

.uber-eats-logo p{
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
}

.uber-eats-logo:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.9) inset;
}

.uber-eats-logo:hover p{
  opacity: 1;
  transform: scale(1);
}

.joyrun-logo {
  border-radius: 25px;
  background: rgb(203, 203, 217);
  padding: 20px;
  width: 200px;
  height: 150px;
  margin-right: 40px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/joyRunLogo.png);
  text-decoration: none;
  background-position: center;
  background-size: 200px 150px;
  background-repeat: no-repeat;
}

.joyrun-logo p{
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
}

.joyrun-logo:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.9) inset;
}

.joyrun-logo:hover p{
  opacity: 1;
  transform: scale(1);
}

/* stuff for ordering page */

.main-column {
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 1rem;
  margin-right: 15rem;
}

.side-nav-bar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: rgb(203, 203, 217);
  transition: width 200ms ease;
}

.side-bar-ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.side-bar-li {
  width: 100%;
}

.side-bar-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: black;
  text-decoration: none;
}

.side-bar-text {
  /* display: none;  */
  opacity: 0%;
  margin-left: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.side-nav-bar:hover {
  width: 10rem;
}

.side-nav-bar:hover .side-bar-text {
  /* display: block;  */
  opacity: 100%;
  transition: opacity 0.3s;
}

.list-icon {
  height: 30px;
  width: 30px;
  padding-left: 1.7rem;
}

.order-column {
  background-color: rgb(203, 203, 217);
  width: 15rem;
  height: 100vh;
  position: fixed;
  right: 0;
}

.order-page {
  display: flex;
  flex-direction: row;
}

.order-column h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 1rem;
}

.order-column-top p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.order-column-top {
  padding-left: 1rem;
}

.dropdown {
  width: 7rem;
  position: relative;
  margin: 2em;
}

.dropdown * {
  box-sizing: border-box;
}

.dropdown-select {
  background: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3;
}

.dropdown-select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.dropdown-select:hover {
  background: #323741;
}

.dropdown-caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.dropdown-caret-rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.dropdown-menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #2a2d35;
}

.active {
  background: #23242a;
}

.dropdown-menu-open {
  display: block;
  opacity: 1;
}

.test222 {
  box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.37);
  position: relative;
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 150px;
}